[core]
	pager = less -SFXni -x4
	editor = vim
	autocrlf = false
	ignorecase = false
	quotepath = false
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[alias]
	a = "!f(){ git add $@ && git status; }; f"
	aa = !git add -A && git status
	al = !git config -l | grep '^alias' | sort
	au = !git add -u && git status
	b = branch
	bu = !git branch --unset-upstream && git status
	ca = !git commit --amend --date=\"$(date -R)\"
	cd = clone --depth 1
	cg = config --global
	cm = commit
	co = checkout
	cp = cherry-pick
	d = diff
	dc = diff --cached
	f = fetch -p origin
	fm = fetch origin master:master
	ignore = !git rm -r --cached . && git add -A && git status
	ll = log --oneline --graph --decorate=full
	lla = log --oneline --graph --decorate=full --all
	pf = push -f
	po = !git push -u origin $(git rev-parse --abbrev-ref @)
	rb = rebase
	rh1 = reset @~
	ro = !git reset --hard origin/$(git rev-parse --abbrev-ref @)
	rs = "!f(){ git restore $@ && git status; }; f"
	rss = "!f(){ git restore -S $@ && git status; }; f"
	s = status
	sd = stash drop
	sl = stash list
	sm = !git stash push && git merge && git stash pop
	sp = stash pop
	ss = stash push
	sw = switch
	mn = merge --no-ff
[user]
	email = minami.smd@gmail.com
	name = CRaLFa
[includeIf "gitdir:~/repo/private/"]
	path = ~/repo/private/.gitconfig
[includeIf "gitdir:~/repo/work/"]
	path = ~/repo/work/.gitconfig
