body {
    background-color: #282a36;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
}

a {
    color: #59acf3;
}

pre {
    background-color: inherit;
}

.hljs {
    background-color: inherit;
    color: inherit;
}

[class^="hljs-"] {
    color: inherit;
}
